.advantages {
  width: 100%;
  padding: 30px 0 45px;
  text-align: left;

  .advantages__title {
    margin: 0;
    margin-bottom: 35px;
    font-family: $oswald;
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;
    color: $blacktitle;
  }

  .advantages__list {
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .advantages__item {
    margin-bottom: 20px;
    padding: 0;
    padding-left: 80px;

    @media (min-width: $tablet-width) {
      width: 324px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  .advantages__description {
    margin: 0;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $graytext;
  }
}
