.advantages {
  @include all-width;

  padding: 18px 0 25px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 0;
  }

  .advantages__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: $oswald;
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 72px;
    }
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .advantages__item {
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    padding-left: 80px;

    @media (min-width: $tablet-width) {
      margin-top: 61px;
      margin-bottom: 70px;
      padding-left: 0;
      padding-top: 113px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-bottom: 45px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 60px;
      height: 60px;
      background-color: $green;

      @media (min-width: $tablet-width) {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
      }
    }

    &--contain::before {
      background-image: url(../img/advantage-leaf@1x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }

    &--use::before {
      background-image: url(../img/advantage-powder@1x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }

    &--food::before {
      background-image: url(../img/advantage-dining@1x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }

    &--time::before {
      background-image: url(../img/advantage-clock@1x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }

    @media (min-width: $tablet-width) {
      @include tablet-half;
    }

    @media (min-width: $desktop-width) {
      @include column;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "1";
        font-family: $oswald;
        font-size: 281.07px;
        line-height: 281.07px;
        color: $gray;
        position: absolute;
        top: -38px;
        left: 110px;
        z-index: -1;
      }

      &--use::after {
        content: "2";
      }

      &--food::after {
        content: "3";
      }

      &--time::after {
        content: "4";
      }
    }
  }

  .advantages__description {
    margin: 0;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $graytext;

    @media (min-width: $tablet-width) {
      @include column;

      font-size: 16px;
      line-height: 24px;
    }
  }
}
