.catalog-item {
  padding: 25px 0;
  border-bottom: 1px solid $w-gray;

  &--first {
    border-top: 1px solid $w-gray;
  }

  &--additional {
    padding: 10px 0 17px;
    border-bottom: 1px solid $l-gray;

    &--first {
      border-top: 1px solid $l-gray;
    }
  }

.catalog-item__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;

  a {
    color: $blacktitle;
    text-decoration: none;
  }

  &--additional {
    line-height: 16px;
    color: $blacktext;
  }
}

.catalog-item__description {
  margin-bottom: 20px;
}

.catalog-item__value {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $graytext;

  &--additional {
    font-size: 14px;
    line-height: 14px;
  }
}

}

