.catalog-item {
  @include all-width;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid $w-gray;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
    background-image: linear-gradient($white 82px, $gray 82px);
    border: none;
  }

  &--additional {
    padding: 0;
    padding-bottom: 18px;
    border-bottom: 1px solid $l-gray;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-top: 24px;
      padding-left: 38px;
      padding-bottom: 28px;
      padding-right: 38px;
      background: none;
      border-right: 1px solid $l-gray;
      border-left: 1px solid $l-gray;
    }

    @media (min-width: $desktop-width) {
      padding-top: 15px;
      padding-bottom: 16px;
      padding-right: 0;
      padding-left: 0;
      align-items: center;
    }
  }

  .catalog-item__text-wrapper {
    @include mobile-half;

    @media (min-width: $tablet-width) {
      @include all-width;

      padding: 0 38px;
    }
  }

  .catalog-item__title {
    width: 80px;
    margin: 0;
    padding-top: 22px;
    padding-bottom: 11px;
    font-family: $oswald;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      @include all-width;

      padding-left: 58px;
      padding-right: 58px;
      padding-bottom: 21px;
      font-size: 20px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      padding-left: 10px;
      padding-right: 10px;
    }

    &--additional {
      @include all-width;

      padding-top: 12px;
      padding-bottom: 13px;
      line-height: 16px;
      color: $blacktext;

      @media (min-width: $tablet-width) {
        @include tablet-285px;

        padding: 0;
        line-height: 20px;
        text-align: left;
      }

      @media (min-width: $desktop-width) {
        @include column;
      }
    }
  }

  .catalog-item__link {
    color: $blacktitle;
    text-decoration: none;

    &--img {
      font-size: 0;

      @media (min-width: $tablet-width) {
        margin-bottom: 15px;
      }
    }
  }

  .catalog-item__description {
    @include mobile-half;

    border-spacing: 0;

    @media (min-width: $tablet-width) {
      @include all-width;

      margin-bottom: 33px;
    }

    &--additional {
      @include all-width;

      margin-bottom: 15px;

      @media (min-width: $tablet-width) {
        @include tablet-285px;

        margin-bottom: 0;
        margin-left: auto;
      }

      @media (min-width: $desktop-width) {
        margin-right: 40px;
      }
    }
  }

  .catalog-item__value {
    width: 50%;
    padding: 0;
    font-family: $arial;
    font-size: 12px;
    line-height: 16px;
    color: $graytext;

    @media (min-width: $tablet-width) {
      padding: 7px 0;
      font-size: 16px;
      border-bottom: 1px solid $l-gray;
    }

    &--col-2 {
      text-align: right;
    }

    &--additional {
      font-size: 14px;
      line-height: 14px;

      @media (min-width: $tablet-width) {
        width: 192px;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        border-bottom: none;
      }

      @media (min-width: $desktop-width) {
        text-align: left;
      }
    }

    &--small {
      text-align: right;

      @media (min-width: $tablet-width) {
        width: 94px;
      }
    }
  }

  .catalog-item__order-link {
    @include all-width;

    display: block;

    @media (min-width: $tablet-width) {
      width: 248px;
      margin: 0 38px;
      padding: 10px 0;
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 167px;
      margin: 0 38px;
    }

    &--add {
      @media (min-width: $tablet-width) {
        @include all-width;

        margin: 0;
        margin-top: 26px;
      }

      @media (min-width: $desktop-width) {
        @include column;

        margin: 0;
      }
    }
  }
}
