.categories {
  width: 100%;

  .categories__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  .categories__item {
    padding-top: 35px;
    padding-left: 20px;
    text-align: left;
    background-color: $gray;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 570px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .categories__title {
    margin: 0;
    margin-bottom: 35px;
    padding-left: 70px;
    font-family: $oswald;
    font-size: 24px;
    font-weight: normal;
    line-height: 37.02px;
    color: $blacktitle;
  }

  .categories__description {
    margin: 0;
    margin-bottom: 20px;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $graytext;
  }

  .categories__link {
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: $oswald;
    font-size: 16px;
    line-height: 16px;
    color: $blacktitle;
  }
}
