.contacts {
  padding: 0 20px;
  padding-top: 28px;
  background-color: $gray;

  &--white {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      display: flex;

      @include desktop-half;

      margin: 0;
      margin-left: 85px;
      margin-top: 35px;
      padding: 60px 75px 60px 75px;
      background: none;
    }
  }

  .contacts__title {
    width: 50%;
    margin: 0;
    margin-bottom: 25px;
    font-family: $oswald;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      width: 170px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  .contacts__text {
    width: 50%;
    margin: 0;
    margin-bottom: 25px;
    font-family: $arial;
    font-size: 14px;
    line-height: 20px;
    color: $graytext;

    @media (min-width: $tablet-width) {
      width: 170px;
      font-size: 16px;
    }
  }
}
