.copyright {
  .copyright__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    font-family: $arial;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: $graytext;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    padding-top: 13px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  .copyright__text {
    @media (min-width: $desktop-width) {
      margin-right: 24px;
    }
  }
}
