.page-footer {
  padding-top: 39px;
  background-color: $gray;

.page-footer__logo {
  margin-bottom: 31px;
}

.page-footer__social {
  margin-bottom: 22px;
}

.page-footer__table {
  margin-bottom: 20px;
}

.page-footer__copyright {
  margin-bottom: 20px;
}

}



