.form-section {
  width: 100%;
  padding: 30px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }

  .form-section__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: $oswald;
    font-weight: normal;
    font-size: 36px;
    line-height: 60px;
    color: $blacktitle;
  }

  .form-section__description {
    margin: 0;
    margin-bottom: 35px;
    font-family: $oswald;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $blacktitle;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-left: 40px;
    }
  }

  .form-section__form {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      padding-left: 40px;
      padding-right: 37px;
    }
  }
}
