.page-header {
  @include all-width;

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-width) {
      padding-bottom: 200px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 24px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 55px;
    }
  }

  .page-header__logo {
    width: 192px;
    max-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 173px;
      height: auto;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
    }
  }

  .page-header__logo-img {
    @media (min-width: $tablet-width) {
      width: 173px;
      height: auto;
    }

    @media (min-width: $tablet-width) {
      width: 202px;
    }
  }

  .page-header__logo-mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
