.main-catalog {
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 46px;
  }

  .main-catalog__title {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 28px;
    font-family: $oswald;
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      padding-top: 56px;
      padding-bottom: 24px;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 69px;
      padding-bottom: 25px;
    }
  }

  .main-catalog__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .main-catalog__item {
    @include all-324px-245px;

    @media (max-width: $tablet-width) {
      &:first-child {
        border-top: 1px solid $w-gray;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      margin-top: 59px;
    }
  }
}
