.main-info {
  @include all-width;

  padding-top: 26px;
  padding-bottom: 22px;
  font-family: $oswald;
  color: $white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    background-image: none;
    color: $blacktitle;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    background-image: url("../img/index-background-mobile@1x.jpg");
  }

  .main-info__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 427px;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }
  }

  .main-info__slogan {
    margin: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      width: 427px;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
    }
  }

  .main-info__image {
    margin-bottom: 7px;
    text-align: center;
  }

  .main-info__form-link {
    text-align: center;
    display: block;

    @media (min-width: $tablet-width) {
      @include column;
    }
  }
}
