.main-nav {
  position: relative;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    min-height: 0;
    margin-left: auto;
  }

  .main-nav__toggle {
    height: 65px;
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .main-nav__list {
    @media (max-width: $tablet-width) {
      position: absolute;
      right: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 280px;
    }
  }
}
