.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 0;
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
    position: absolute;
    top: -33px;
    right: 0;
    height: 62px;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }

    &--visible {
      display: block;
    }

    &--open::before {
      content: "";
      position: absolute;
      right: 0;
      top: 23px;
      width: 24px;
      height: 18px;
      background-image: url("../img/icon-mobile-menu.svg");
    }

    &--close::before {
      content: "";
      position: absolute;
      right: 0;
      top: 23px;
      width: 18px;
      height: 18px;
      background-image: url("../img/icon-close.svg");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .main-nav__list {
    @media (max-width: $tablet-width) {
      position: absolute;
      top: 32px;
      right: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 280px;
    }
  }
}
