.promo {
  padding: 0 60px;

  @include all-width;

  margin-top: 39px;
  margin-bottom: 37px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 90px;
    padding: 70px 120px 70px 90px;
  }

  @media (min-width: $desktop-width) {
    @include column;

    margin: 0;
    padding: 65px 40px 40px;
  }

  .promo__text {
    position: relative;
    margin: 0;
    padding-top: 188px;
    padding-bottom: 45px;
    font-family: $arial;
    font-size: 16px;
    text-align: center;
    color: $white;

    &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 53px;
    width: 55px;
    height: 60px;
    background-image: url(../img/icon-gift.svg);
}

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-left: 277px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-top: 125px;
      text-align: center;
    }
  }
}
