.reviews {
  width: 100%;
  padding: 30px 0 35px;
  text-align: left;
  background-color: $gray;

  .reviews__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .reviews__text-wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
      text-align: left;
    }
  }

  .reviews__title {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    font-family: $oswald;
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;
    color: $blacktitle;
  }

  .reviews__text {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $graytext;
  }

  .reviews__table {
    margin-bottom: 20px;
  }

  .reviews__value {
    font-family: $oswald;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $blacktitle;
  }

  .reviews__field {
    font-family: $arial;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $graytext;
  }

  .reviews__cost {
    margin: 0;
    margin-bottom: 40px;
    font-family: $oswald;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $blacktitle;

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  .reviews__slider-wrapper {
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 650px;
    }
  }

  .reviews__gallery {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }
}
