.reviews {
  position: relative;

  @include all-width;

  padding: 15px 0 35px;
  text-align: left;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 74px;
    border-top: 1px solid $border;
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    border: none;
  }

  .reviews__background {
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 0;

      @include all-width;

      height: 462px;
      background-image: linear-gradient(to right, $gray 50%, $gray-background 50%);
      z-index: -10;
    }

    @media (min-width: $desktop-width) {
      top: 180px;
      height: calc(100% - 180px);
      background: $gray;
    }
  }

  .reviews__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .reviews__text-wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      @include desktop-half;

      text-align: left;
    }
  }

  .reviews__title {
    @include all-width;

    margin: 0;
    margin-bottom: 23px;
    font-family: $oswald;
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      margin-bottom: 64px;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 145px;
    }
  }

  .reviews__text {
    @include all-width;

    margin: 0;
    margin-bottom: 23px;
    padding-right: 14px;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $graytext;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 445px;
      margin-bottom: 67px;
    }
  }

  .reviews__result {
    @include all-width;

    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 73px;
      width: 365px;
      table-layout: fixed;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }

  .reviews__value {
    width: 124px;
    padding: 13px 0 18px;
    font-family: $oswald;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $blacktitle;
    border: 1px solid $l-gray;
    border-radius: 3px;
    margin-right: 32px;

    @media (min-width: $tablet-width) {
      width: 162px;
      font-size: 30px;
      line-height: 37.02px;
    }
  }

  .reviews__field {
    display: flex;
    justify-content: center;
    font-family: $arial;
    font-size: 12px;
    line-height: 12px;
    color: $graytext;
    text-align: center;
    border: none;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .reviews__field-wrapper {
    margin-top: -12px;
    text-align: center;

    @media (max-width: $tablet-width) {
      max-width: 107px;
    }

    &--small {
      @media (max-width: $tablet-width) {
        width: 87px;
      }
    }

    @media (min-width: $tablet-width) {
      width: auto;
      white-space: nowrap;
    }
  }

  .reviews__field-container {
    display: inline-block;
    padding: 0 8px;
    background-color: $gray;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      background-color: $white;
    }
  }

  .reviews__cost {
    margin: 0;
    margin-bottom: 37px;
    font-family: $oswald;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      width: 192px;
      margin-bottom: 65px;
      font-size: 20px;
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      @include all-width;

      margin-bottom: 0;
      text-align: left;
    }
  }

  .reviews__slider-wrapper {
    @include all-width;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      width: 650px;
      margin-top: -80px;
    }
  }

  .reviews__gallery {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: 65px;
    }
  }
}
