.show-more {
  position: relative;

  @include all-width;

  padding-top: 80px;
  border-bottom: 1px solid $w-gray;

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 125px;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-plus-mobile.svg);
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      top: 136px;
      left: 133px;
      width: 60px;
      height: 60px;
      background-image: url(../img/icon-plus.svg);
    }

    @media (min-width: $desktop-width) {
      left: 93px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 82px;
    border: none;
  }

  .show-more__wrapper {
    @media (min-width: $tablet-width) {
      padding: 136px 38px 39px;
      border: 1px solid $w-gray;
    }
  }

  .show-more__title {
    display: block;
    margin: 0;
    margin-bottom: 7px;
    font-family: $oswald;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 26px;
      padding-bottom: 26px;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 28px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .show-more__text {
    margin: 0;
    margin-bottom: 22px;
    font-family: $arial;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $graytext;

    @media (min-width: $tablet-width) {
      margin-bottom: 82px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 19px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 83px;
      padding: 0;
    }
  }

  .show-more__link {
    display: block;

    @include all-width;

    @media (min-width: $tablet-width) {
      padding: 10px 0;
      font-size: 16px;
    }
  }
}
