.site-list {
  padding: 0;
  list-style: none;

  .site-list__link {
    font-family: $oswald;
    font-size: 20px;
    font-weight: $oswaldm;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $blacktitle;
  }
}
