.site-list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 516px;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 895px;
  }

  .site-list__item {
    padding: 21px 0;
    text-align: center;
    border-top: 1px solid $border;

    @media (min-width: $tablet-width) {
      border: none;
      margin-left: 28px;
    }
  }

  .site-list__link {
    font-family: $oswald;
    font-size: 20px;
    font-weight: $oswaldm;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $blacktitle;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24.86px;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
    }
  }
}
