.site-list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 516px;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 895px;
  }

  .site-list__item {
    padding: 22px 0 20px;
    text-align: center;
    border-top: 1px solid $border;

    &:last-child {
      border-bottom: 1px solid $border;
    }

    @media (min-width: $tablet-width) {
      border: none;
      margin-left: 27px;
      padding: 9px 0;

      &:last-child {
        border-bottom: transparent;
      }

      &--active {
        border-bottom: 2px solid $green;

        &:last-child {
          border-bottom: 2px solid $green;
        }
      }
    }

    @media (min-width: $desktop-width) {
      margin-left: 34px;
      padding: 9px 0;
    }
  }

  .site-list__link {
    font-family: $oswald;
    font-size: 20px;
    font-weight: $oswaldm;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $blacktitle;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
      font-weight: normal;
      line-height: 24.86px;
      color: $blacktext;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list--background {
    .site-list__item {
      &--active {
        border-color: $white;
      }
    }

    .site-list__link {
      color: $white;
    }
  }
}
