.social {
  .social__list {
    margin: 0;
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  .social__link {
    margin: 0;
    margin-bottom: 25px;
    font-family: $arial;
    font-size: 16px;
    line-height: 16px;
    color: $graytext;
  }
}
