.form-section {
  padding: 30px 0;
  text-align: left;
}

.form-section__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.form-section__description {
  margin: 0;
  margin-bottom: 35px;
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
}
