.main-catalog__title {
  margin: 20px 0;
  font-family: $oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: #111111;
}

.main-catalog__list {
  padding: 0;
  list-style: none;
}
