@mixin all-width {
  width: 100%;
}

@mixin all-to-tablet285px {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 285px;
  }
}

@mixin all-to-desktop245px {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

@mixin all-to-desktop-half {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

@mixin all-to-desktop895px {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 895px;
  }
}

@mixin m140px-to-all {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

@mixin all-324px-245px {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

@mixin all-285px-570px {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 285px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

@mixin all-285px-245px {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 285px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
