.reviews {
  padding: 30px 0 35px;
  text-align: left;
  background-color: #f2f2f2;
}

.reviews__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: #111111;
}

.reviews__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.reviews__table {
  margin-bottom: 20px;
}

.reviews__value {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #111111;
}

.reviews__field {
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.reviews__cost {
  margin: 0;
  margin-bottom: 40px;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
}

.reviews__gallery {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}








