$oswald: "Oswald", "Arial", sans-serif;
$oswaldm: 500;
$arial: "Arial", sans-serif;
$white :#ffffff;
$blacktitle: #111111;
$blacktext: #222222;
$gray: #f2f2f2;
$graytext: #444444;
$grayicon: #666666;
$l-gray: #cdcdcd;
$w-gray: #ededed;
$green: #68b738;
$green-hover: #5eaa2f;
$border-red: #ff8282;
$border-gray: #d9d9d9;
$l-gray-hover: #bababa;
$border: #e6e6e6;
$gray-background: #eaeaea;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
