$oswald: "Oswald", "Arial", sans-serif;
$oswaldm: "Oswald Medium", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$white :#ffffff;
$blacktitle: #111111;
$blacktext: #222222;
$gray: #f2f2f2;
$graytext: #444444;
$l-gray: #cdcdcd;
$w-gray: #ededed;
$green: #68b738;
$green-hover: #5eaa2f;
$border-red: #ff8282;
